DB_HOST_MAIN=localhost
DB_USER_MAIN=root
DB_PASSWORD_MAIN=your_secure_password
DB_NAME_MAIN=marketing
DB_PORT_MAIN=3306

DB_HOST_ACH=localhost
DB_USER_ACH=root
DB_PASSWORD_ACH=your_secure_password
DB_NAME_ACH=kpi
DB_PORT_ACH=3306

DB_HOST_PENAWARAN=localhost
DB_USER_PENAWARAN=root
DB_PASSWORD_PENAWARAN=your_secure_password
DB_NAME_PENAWARAN=kencanaprint
DB_PORT_PENAWARAN=3306

PORT=3001
JWT_SECRET=your_jwt_secret_key_here

IMAGE_UPLOAD_DIR=/mnt/image/mintaharga